@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes moveText {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-move-text {
    animation: moveText 10s linear infinite;
  }

